@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div >
    <h2>Files</h2>

    <ul>
        @foreach (var folder in Model.Folders)
        {
            <li>
                @folder.Name
                @if (!folder.Subfolders.Any())
                {
                    <a href="?openId=@folder.FolderId">Open</a>
                }
                else
                {
                    <ul>
                        @foreach (var subfolder in folder.Subfolders)
                        {
                            <li>@subfolder.Name</li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>