@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>FIles</h2>

        <ul>
        @foreach (var folder in @Model.Folders)
        {
            <li>@folder.Name</li>
        }
        </ul>

</div>

@*

<li>folder.name <a asp-route-openId="@folder.FolderId" asp-route-folderId="@folder.ParentFolder"> </a></li>
*@ 